<!DOCTYPE html>
<html>
<body>

<a href="{% url 'rembanapp:main' %}">INICIO</a>

<h1>Detalles del Usuario</h1>

<div > 
    <h4>Nombre: {{ usuario.Nombre }}</h4>
    <h4>Apellidos: {{ usuario.Apellidos }}</h4>
    <p>Email: {{ usuario.Email }}</p>
    <p>Telefono: {{ usuario.Telefono }}</p>
    <p>Id Usuario: {{ usuario.id }}</p>
</div>

<a href="{% url 'rembanapp:usuario_confirm_delete' usuario.id %}">Borrar Usuario</a>

<h2>Órdenes de {{ usuario }}</h2>

{% if ordenes %}
    <ul>
        {% for orden in ordenes %}
            <li><a href="{% url 'rembanapp:detailOrdenes' orden.id %}">{{ orden }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No hay ordenes de este Usuario.</p>
{% endif %}

</body>
</html>